# Managed by Ansible. Changes made here are overwritten.
PERMWATCH_CONFIG_FILE={{ permwatch_config_dir }}/watchlist.yaml
PERMWATCH_API_URL={{ permwatch_api_url }}
PERMWATCH_NODE_URL={{ permwatch_node_url }}
PERMWATCH_POLL_INTERVAL={{ permwatch_poll_interval }}
PERMWATCH_HTTP_ADDR={{ permwatch_http_addr }}
PERMWATCH_STATE_DIR={{ permwatch_state_dir }}
PERMWATCH_LOG_LEVEL={{ permwatch_log_level }}
{% if permwatch_webhook_url %}
PERMWATCH_WEBHOOK_URL={{ permwatch_webhook_url }}
{% endif %}
{% if permwatch_telegram_bot_token %}
PERMWATCH_TELEGRAM_BOT_TOKEN={{ permwatch_telegram_bot_token }}
PERMWATCH_TELEGRAM_CHAT_ID={{ permwatch_telegram_chat_id }}
{% endif %}
